<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lamport.tla.toolbox.tool.tlc.modelCheck">
    <stringAttribute key="configurationName" value="Testing_SnapShot_1751553359511"/>
    <intAttribute key="distributedFPSetCount" value="0"/>
    <stringAttribute key="distributedNetworkInterface" value="192.168.1.88"/>
    <intAttribute key="distributedNodesCount" value="1"/>
    <stringAttribute key="distributedTLC" value="off"/>
    <intAttribute key="fpIndex" value="3"/>
    <intAttribute key="maxHeapSize" value="75"/>
    <stringAttribute key="modelBehaviorInit" value=""/>
    <stringAttribute key="modelBehaviorNext" value=""/>
    <stringAttribute key="modelBehaviorSpec" value="Spec"/>
    <intAttribute key="modelBehaviorSpecType" value="0"/>
    <stringAttribute key="modelBehaviorVars" value="r, State"/>
    <stringAttribute key="modelComments" value=""/>
    <booleanAttribute key="modelCorrectnessCheckDeadlock" value="true"/>
    <listAttribute key="modelCorrectnessInvariants"/>
    <listAttribute key="modelCorrectnessProperties"/>
    <intAttribute key="modelEditorOpenTabs" value="10"/>
    <stringAttribute key="modelExpressionEval" value="SI21"/>
    <stringAttribute key="modelParameterActionConstraint" value=""/>
    <listAttribute key="modelParameterConstants">
        <listEntry value="Processes;;{p1, p2, p3};1;0"/>
        <listEntry value="Values;;{A, B};1;0"/>
    </listAttribute>
    <stringAttribute key="modelParameterContraint" value=""/>
    <listAttribute key="modelParameterDefinitions"/>
    <stringAttribute key="modelParameterModelValues" value="{}"/>
    <stringAttribute key="modelParameterNewDefinitions" value="sIA ==[vote |-&gt; A, ts |-&gt; 0, history |-&gt; {{A, 0}}]&#13;&#10;sIB ==[vote |-&gt; B, ts |-&gt; 0, history |-&gt; {{B, 0}}]&#13;&#10;SI21==(p1 :&gt; [vote |-&gt; A, ts |-&gt; 0, history |-&gt; {{A, 0}}] @@&#13;&#10;       p2 :&gt; [vote |-&gt; A, ts |-&gt; 0, history |-&gt; {{A, 0}}] @@&#13;&#10;       p3 :&gt; [vote |-&gt; B, ts |-&gt; 0, history |-&gt; {{B, 0}}] )"/>
    <intAttribute key="modelVersion" value="20191005"/>
    <intAttribute key="numberOfWorkers" value="8"/>
    <stringAttribute key="result.mail.address" value=""/>
    <stringAttribute key="specName" value="mainByz"/>
    <stringAttribute key="tlcResourcesProfile" value="local custom"/>
</launchConfiguration>
